@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Dancing+Script&family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  scroll-behavior: smooth;
}
h1{
  font-family: "Brittany Signature";
  color: black;
  font-size: 40px;
  margin: 0 auto;
  flex: 1;
}
h2{
  font-family: "Brittany Signature";
  font-size: 60px;
  margin: 10px;
}
p{
  font-family: "Sanchez";
}
.title{
  font-family: "Sacramento";
  font-size: 100px;
  letter-spacing: 0px;
}
.subtitle{
  font-family: "Noto Sans";
  font-size: 22px;
  letter-spacing: 2px;
  margin-top:10px;
}
header {
  background-color: #f8f8f8;
  max-height: 100px;
  color: #fff;
  padding-right: 60px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Align logo to the left and h1 to the right */
  align-items: center;
  flex-wrap: wrap
}
header img {
  max-height: 50px; /* Adjust the max-height to fit your logo */
  margin-right: -30px; /* Add margin to the right of the logo for spacing */
}
.LogoHeader{
  max-height: 120px;
  position: relative;
  top: 10px;
  left: 20px;
}
nav{
  background-color: #95afbc;
  color: #fff;
  text-align: center;
  padding: 10px;
  
}
nav a {
  font-family: "Sanchez";
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  cursor: pointer;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
nav a:hover {
  border: white solid 2px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
section {
  padding: 20px;
  min-height: 80vh;
}
footer {
  background-color: #95afbc;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #607b89 solid 2px;
}
#home {
  background-image: url('assets/Main\ Page\ Background.jpg'); /* Set the background image path */
  background-size: cover; /* Cover the entire section with the background image */
  background-position: center; /* Center the background image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
/* Base styles */
.hamburger {
  display: none; /* Hide by default */
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header {
    margin-left: 20px;
    justify-content: flex-start; /* Move title to left, hamburger to right */
  }
  .iglogo{
    display: none;
  }
  h1 {
    font-size: 26px;
    flex: 1;
    text-align: left; /* Align title to the left */
  }
  .hamburger {
    display: block; /* Show hamburger icon only on screens smaller than 768px */
    padding: 10px;
    color: black;
  }
  .LogoHeader{
    display: none;
  }

  .nav-links {
    display: none; /* Hide navigation links on mobile screens by default */
  }

  .nav-links a {
    display: block;
    padding: 15px;
    border-top: 1px solid #fff;
  }

  .nav-links a:hover {
    background-color: #607b89;
  }

  .nav-links.active {
    display: flex; /* Show links when the hamburger is clicked */
    font-size: 10px;
  }
  
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none; /* Ensure hamburger icon is hidden on larger screens */
  }
  .igtitle{
    display: none;
  }

  .nav-links {
    display: flex; /* Show the links in regular nav layout for larger screens */
    flex-direction: row;
  }

  .nav-links a {
    padding: 8px 12px;
    margin: 0 12px;
    border: none; /* Remove borders for the horizontal links */
  }
}
#menu{
  background-color: rgb(218, 212, 197); /* Set background color for the menu section */
  padding-top: 80px;
  padding-bottom: 80px;
}
#gallery{
  min-height: 93vh;
  background-color: #95afbc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bento-container{
  min-height: 80vh;
  width: 1750px;
  padding: 1em;
  display: flex;
  gap: 2rem;
}
.photo img{
  max-width: 100%;
  height: auto;
  flex: 1 1 auto;
  object-fit: cover;
}
@media(max-width:768px) {
  .bento-container{
    flex-direction: column;
  }
  
}
/* Left Side of Bento */
.col-left{
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.row{
  flex: 1 1 auto;
  background-size: cover; /* Maintain aspect ratio */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid repeating the image */
}
.row1{
  background-image: url(assets/Bento-Box/B_Y_Cupcakes.png);
  
}
.row2{
  display: flex;
  gap: 1em;
}
.row-col{
  flex: 1;
  display: flex;
  gap: 1em;
  flex-direction: column;
  background-size: cover; /* Maintain aspect ratio */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid repeating the image */
}
.left{
  flex: 1;
}
.leftup{
  background-image: url(assets/Bento-Box/Pink_Flower_Cake.png);
}
.leftdown{
  background-image: url(assets/Bento-Box/B_Cupcakes.JPG);
}
.right{
  flex: 1.8;
  background-image: url(assets/Bento-Box/Best_Cake.png);
}
.chick{
  background-image: url(assets/Bento-Box/CFA_Cake.png);
}
.up{
  background-image: url(assets/Bento-Box/G_Cupcake.png);
}
.down{
  background-image: url(assets/Bento-Box/C_Cupcakes.png);
}
.row-col-col{
  flex: 1;
  background-size: cover; /* Maintain aspect ratio */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Avoid repeating the image */
}
/* Right Side of Bento */
.photo-header{
  display: flex;
  color: white;
  font-size: 50px;
  font-family: "Brittany Signature";
  justify-content: center;
  align-items: center;
}
.col-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.top{
  flex: 0;
}
.mid{
  flex: 1.2;
  background-image: url(assets/Main\ Page\ Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bot{
  flex: 2.02;
  display: flex;
  gap: 0.5em;
}
.other{
  display:flex;
}
#about{
  background-color: #4b3c35;
  color:white;
}
#back-to-top {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #95afbc;
  color: hsl(0, 0%, 100%);
  padding: 19px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 1;
  display: none;
  align-items: center;
}
#back-to-top:hover {
  border: #9e897e solid 3px;
  padding: 16px;

}
/* Social media icons container */
.social-icons {
  position: fixed;
  cursor: pointer;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1001; /* Ensure the icons appear above other elements */
}

/* Individual social media icon styles */
.social-icons a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}
.social-icons img {
  display: block;
  width: 64px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: opacity 0.15s;
}
.social-icons img:hover{
  opacity: 0.6;
}
/*About Me Section*/
#about{
  background-color: #5d899e;
}
.about-header{
  display: flex;
  align-items: center;
  font-size: 90px;
  margin-left: 100px;
}
.two-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.column {
  display: flex;
  flex: 0 0 calc(50% - 20px); /* Adjust the width of the columns, considering margin */
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.column img {
  width: 100%;
  max-width: 500px; /* Set a maximum width for the image */
  height: auto;
  display: block;
  border: #95afbc solid 12px;
}
.column p {
  text-align: center; /* Align text to the left */
  font-size: 28px;
  margin-left: 50px;
}
hr {
  border: 0;
  height: 5px;
  background: #95afbc; /* Change the color as needed */
  margin: 20px 0; /* Adjust margin as needed */
}
@media screen and (max-width: 768px) {
  .about-header{
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin-left: 10px;
  }
  .aboutt{
    font-size: 25px;
  }
  .column p {
    margin-left: 0px;
  }
}
#contact{
  background-color: #95afbc;
  color: white;
}
.contact-form {
  max-width: 400px; /* Adjust the max-width of the form */
  margin: 0 auto; /* Center the form horizontally */
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}


.contact-form button {
  background-color:#5d899e;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.contact-hr{
  background: white;
  margin: 30px auto;
  width: 40%;
}
#contact h2{
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 60px;
  }
  .subtitle{
    margin-top:0px;
    font-size: 16px;
  }
  .social-icons img {
    width: 50px;
  }
  .social-icons {
    right: 10px;
  }
  .two-column {
      flex-direction: column; /* Change to a vertical layout */
  }
  .carousel-container {
    width: 74%; /* Set to 100% width on smaller screens */
}
  .carousel-container img {
    height: auto; /* Allow images to maintain their aspect ratio on smaller screens */
}
nav {
  flex-wrap: wrap; /* Allow the items to wrap to the next line */
  font-size: 14px;
}

nav a {
  margin: 5px; /* Adjust the margin for better spacing on smaller screens */
  margin-top: 10px;
}
.contact-hr{
  background: white;
  width: 100%;
}
}
